<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778582021466-am0qqq0ttg8l61np57mhrfft1tp1g8ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778582021466-am0qqq0ttg8l61np57mhrfft1tp1g8ct</string>
	<key>API_KEY</key>
	<string>AIzaSyCCMJsDODw7PUVKPeOk6yR7eUJ7kZz8lbY</string>
	<key>GCM_SENDER_ID</key>
	<string>778582021466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamawm.ios</string>
	<key>PROJECT_ID</key>
	<string>jam-b435b</string>
	<key>STORAGE_BUCKET</key>
	<string>jam-b435b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778582021466:ios:42c6353d3fa4d1f6fd8f63</string>
	<key>DATABASE_URL</key>
	<string>https://jam-b435b.firebaseio.com</string>
</dict>
</plist>